@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #10b981;
  --color-background: #0f172a;
  --color-surface: #1e293b;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  background-color: var(--color-background);
  color: #e2e8f0;
}

body {
  margin: 0;
  min-height: 100vh;
}